
h1 {
    background-color: #DDD78D;
    margin: 0;
    padding: 10px;
    text-align: center;
    font-size: 20pt;
    color:#D7907B;
  }
  /*
  h1 {
  color:rgb(209, 144, 46);
  background-color: antiquewhite;
  text-align: center;
  width:60%;
  margin: 0 auto;
}*/